body{
	margin: 0;
}
main{
	display: flex;

	width: 100vw;
	height: 100vh;

	overflow-y: hidden;
}

:root{
	--main-content--padding: 1.5rem;
}
nav#menu-bar,
#main-content{
	overflow-y: overlay;
	padding: 1rem var(--main-content--padding) ;
}

nav#menu-bar{
	width: 300px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 300px;
}
#main-content{
	flex-grow: 1;
	flex-shrink: 0;	
}

nav#menu-bar ol{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav#menu-bar ol ol li{
	padding-left: .75rem;
}




nav#icon-bar{
	display: flex;
}

h1, h2, h3, h4, h5, h6, th, thead{
	font-weight: bolder;
}


blockquote{
	padding: 1rem 1.5rem;
	margin: .25rem;
	font-style: italic;
	
	position: relative;
}

blockquote::before, blockquote::after{
	position: absolute;
	display: block;
	font-family: 1.25rem;
}

blockquote::before{
	content: open-quote;
	top: .5rem;
	left: .5rem;
}

blockquote::after{
	content: close-quote;
	position: absolute;
	right: .5rem;
	bottom: .5rem;
}

/* theme effect */
nav#menu-bar{
	transition-property: width, padding, margin;	
}
body[data-menu="close"] nav#menu-bar{
	width: 0;
	padding: 0;
	margin: 0;
}

#format-menu{
	display: none;
	position: absolute;
	right: var(--main-content--padding);
}

