:root{
	--body-background: #f3eacb;
	--body-color: #704214;
	--menu-background: rgb(17, 17, 17);
	--menu-color: #877f6a;
	--code-background: #382f17;
	--code-text: #657b83;
	--border-color: #f5d06c;
}