body{
	color: var(--body-color);
}
nav#menu-bar{
	background-color: var(--menu-background);
}
nav#menu-bar a{
	color: var(--menu-color)
}

pre, code{
	background-color: var(--code-background);
	color: var(--menu-color);
}

pre{
	box-shadow: 1px 1px 5px var(--body-color);
}