<!DOCTYPE html>
<head>
	<title>{{.Title}}</title>
	<link href="/styles/default.css" rel="stylesheet"/>
	<link href="/styles/default-font.css" rel="stylesheet"/>
</head>
<body data-size="normal" data-font="sans-serif">
	<main>
		<nav id="menu-bar">
			<a href="/">{{.Title}}</a>
			{{.Menu}}
		</nav>
		<article id="main-article">{{.MainContent}}</article>
	</main>
</body>