<!DOCTYPE html>
<head>
	<title>{{.Title}}</title>
	<link href="/styles/default.css" rel="stylesheet"/>
	<link href="/styles/default-font.css" rel="stylesheet"/>
	<link href="/styles/default-theme.css" rel="stylesheet" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link href="/styles/material-icons.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="/scripts/script.js"></script>
</head>
<body data-size="normal" data-font="sans-serif" data-menu="open">
	<main>
		<nav id="menu-bar">
			<a href="/">{{.Title}}</a>
			{{.Menu}}
		</nav>
		<div id="main-content">
			<nav id="icon-bar">
				<div style="text-align: left; flex-shrink: 1; flex-grow: 1;">
					<span id="toggle-menu" aria-label="Menu" title="Toggle Menu" class="material-icons"></span>
				</div>
				<div style="text-align: right;">
					<span id="format-change" aria-label="Format change" class="material-icons text-format"></span>
				</div>
			</nav>
			<div id="format-menu">
				<span class="material-icons text-decrease"></span>
				<span class="material-icons text-increase"></span>
			</div>
			<article id="main-article">{{.MainContent}}</article>
		</div>
	</main>
</body>