<!DOCTYPE html>
<head>
	<title>{{.Title}}</title>
	<meta charset="UTF-8"/>
	<meta name="generator" content="Powered by gBook" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="{{.Prefix}}/styles/default.css" rel="stylesheet"/>
	<link href="{{.Prefix}}/styles/default-font.css" rel="stylesheet"/>
	<link href="{{.Prefix}}/styles/default-theme.css" rel="stylesheet" class="theme-change-element"
		data-theme-default="{{.Prefix}}/styles/default-theme.css"
		data-theme-sepia="{{.Prefix}}/styles/sepia-theme.css"
		/>
	<link href="{{.Prefix}}/styles/theme.css" rel="stylesheet" />
	<link href="{{.Prefix}}/styles/libs/google-code-prettify/prettify.css" rel="stylesheet" class="theme-change-element"
		data-theme-default="{{.Prefix}}/styles/libs/google-code-prettify/prettify.css"
		data-theme-sepia="{{.Prefix}}/styles/libs/google-code-prettify/sunburst.css"
		/>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link href="{{.Prefix}}/styles/material-icons.css" rel="stylesheet" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="{{.Prefix}}/scripts/libs/prettify.js"></script>
	<script src="{{.Prefix}}/scripts/script.js"></script>
</head>
<body data-size="normal" data-font="sans-serif" data-menu="open">
	<main>
		<nav id="menu-bar">
			<a href="{{.Prefix}}/">{{.Title}}</a>
			{{.Menu}}
		</nav>
		<div id="main-content">
			<nav id="icon-bar">
				<div style="text-align: left; flex-shrink: 1; flex-grow: 1;">
					<span id="toggle-menu" aria-label="Menu" title="Toggle Menu" class="material-icons"></span>
				</div>
				<div style="text-align: right;">
					<span id="format-change" aria-label="Format change" class="material-icons text-format"></span>
				</div>
			</nav>
			<div id="format-menu">
				<div>
					<div><span class="material-icons text-decrease"></span></div>
					<div><span class="material-icons text-increase"></span></div>
				</div>
				<div>
					<div><span id="font-change-sans-serif">Sans-Serif</span></div>
					<div><span id="font-change-serif">Serif</span></div>
				</div>
				<div>
					<div><span class="change-theme" data-target-theme="data-theme-default">Default</span></div>
					<div><span class="change-theme" data-target-theme="data-theme-sepia">Sepia</span></div>
				</div>
			</div>
			<article id="main-article">{{.MainContent}}</article>
		</div>
	</main>
</body>
